<!-- <div class="bg-gray-100 p-8">
  <h1 class="text-blue-500 text-4xl font-bold mb-4">Welcome to Our Website</h1>
  <p class="text-lg text-gray-800">Discover amazing products and services!</p>
  <button class="bg-blue-500 text-white px-4 py-2 rounded-lg mt-4 hover:bg-blue-600">Get Started</button>
</div> -->

<router-outlet></router-outlet>
